body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #f9f9f9;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
  }
    
h1 {
    color: red;
    text-align: center;
    font-size: 36px;
}
 p {
    font-size: 20px;
 }
 ul{
    border: 5px;
    background-color: gray;
    font-size: 20px;
 }